# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Poetry
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (raw data stays local, not in git)
data/raw/
data/processed/

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

